# Activar motor de reescritura
RewriteEngine On

# Base del proyecto (nombre de la carpeta en www)
RewriteBase /Satori-Spa/

# Si el archivo o directorio existe, no reescribir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demás redirigirlo a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
